<%= link_to 'Products', admin_products_path %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <legend>All orders Customer history</legend>
        </div>
    </div>
		<div class="row">
	    <div class="col-md-12">
	        <table class="table table-responsive table-hover table-bordered ">
    <thead>
      <tr class="info">
        <td> order id</td>
         <th>customer name</th>
         <th>status </th>
         <th>product name </th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
	    </div>
	</div>
</div> 